*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body{
	height: 2000px;
	background: #efefef;
}
.change_color{
	color: #ff0036 !important;
}
/*顶部搜索栏*/
.nav-search{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #FF0036;
	z-index: 999;
}
.nav-search>div{
	width: 1250px;
	margin: 0 auto;
	text-align: center;
}
.nav-search img{
	height: 20px;
}
.nav-search input{
	height: 30px;
	width: 700px;
	border: none;
	padding-left: 20px;
}
.nav-search button{
	margin-left: 50px;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 16px
}
.nav-search>div>div{
	float: left;
}
/*左侧固定导航栏*/
.nav-left{
	display: none;
	position: fixed;
	left: calc(50% - 670px);
	bottom: 80px;
	z-index: 999;
}
.nav-left li{
	height: 36px;
	width: 36px;
	padding: 6px;
	line-height: 12px;
	background: #666;
	margin-top: 2px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.nav-left li:first-child{
	line-height: 24px;
	background: #FF0036;
}
.nav-left li:last-child{
	background: #aaa;
}
.nav-left li:nth-child(2):hover,.tmall_cs_color{
	background: #64C333;
}
.nav-left li:nth-child(3):hover,.tmall_gj_color{
	background: #FF0036;
}
.nav-left li:nth-child(4):hover,.tmall_mlrs_color{
	background: #0AA6E8;
}
.nav-left li:nth-child(5):hover,.tmall_cdkw_color{
	background: #64C333;
}
.nav-left li:nth-child(6):hover,.tmall_jjsh_color{
	background: #EA5F8D;
}
.nav-left li:nth-child(7):hover,.tmall_dzac_color{
	background: #19C8A9;
}
.nav-left li:nth-child(8):hover,.tmall_hwcx_color{
	background: #F15453;
}
.nav-left li span{
	font-size: 14px
}
/*右端固定工具栏*/
.nav_right{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 32px;
	background: #000;
	z-index: 999;
}
.nav_right ul:nth-child(1){
	margin-top: 180px;
}
.nav_right li{
	margin-top: 10px;
	padding: 3px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.nav_right li:hover{
	width: 32px;
	background: #ff0036;
}
.nav_right li img{
	width: 24px;
}
.nav_right li i{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/shop_col.png) no-repeat;
	background-size: 80%;
}
.nav_right li:hover i{
	background: url(../img/shop.png) no-repeat;
	background-size: 80%;
}
.nav_right ul:nth-child(2){
	position: absolute;
	width: 100%;
	bottom: 0;
}
/*横向顶端导航栏*/
.nav_top{
	width: calc(100%-64px);
	height: 32px;
	border-bottom: 1px #ccc solid;
	background: #efefef;
	color: #999;
	font-size: 12px;
}
.nav_top>div{
	width: 1250px;
	line-height: 32px;
	margin: 0 auto;
}
.nav_top>div>div:nth-child(2){
	margin-right: 32px;
}
.nav_top a{
	display: inline-block;
	margin: 0 5px;
	padding: 0 5px;
	color: #999;
	font-size: 12px;
}
.nav_top a:hover{
	color: #ff0036;
	text-decoration: none;
}
.gl_col{
	color: #ff0036;
}
.nav_btn{
	position: relative;
	display: inline-block;
	height: 100%;
}
.nav_btn:hover{
	background: #FFF;
}
.dp_menu{
	position: absolute;
	width: 100px;
	left: 0;
	top: 32px;
	line-height: 20px;
	display: none;	
	background: #fff;
	border: 1px solid #999;
	border-top: 0;
	z-index: 999;
}
.nav_btn:hover>.dp_menu,.nav_btn:hover>.erweima{
	display: block; 
}
.caret{
	display: inline-block;
	transition: all 0.3s linear;
}
.nav_btn:hover>a>.caret{
	transform: rotate(180deg);
}
.dp_menu li{
	display: inline-block;
}
.dp_sj{
	width: 160px;
}
.dp_sj ul{
	width: 150px;
	border-bottom: dotted 1px #333;	
}
.dp_sj ul>p{
	margin: 0 0 0 10px;
	padding: 0;
	font-weight: 700;
}
.erweima{
	display: none;
	padding: 0;
	position: absolute;
	left: -10px;
	width: 150px;
	box-shadow: 1px 1px 10px #999;
	z-index: 999;
}
.erweima::before{
	content: '';
	position: absolute;
	left: 40px;
	top: -20px;
	width: 20px;
	height: 20px;
	border: 10px transparent solid;
	border-bottom: 10px white solid;
}
.erweima img{
	width: 100%;
}

/*头部搜索框*/
header{
	width: 100%;
	position: relative;
	background: #fff;
}
.top{
	width: 1250px;
	padding-top: 20px;
	margin: 0px auto;
	margin-bottom: 0;
}
.logo{
	width: 200px;
	height: 80px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100%;
}
.search{
	position: absolute;
	width: 600px;
	top: 40px;
	left: calc(50% - 300px);
}
#search_text{
	width: 500px;
	height: 40px;
	border: 2px solid #ff0036;
	font-size: 14px;
}
.search button{
	position: absolute;
	right: 0;
	width: 100px;
	height: 40px;
	border: none;
	background: #ff0036;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
.search ul{
	margin-top: 5px;
}
.search ul li{
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #999;
}
.search ul li:last-child{
	border-right: 0;
}
.search ul li a{
	color: #999;
}
.title{
	width: 1250px;
	margin: 0 auto;
}
.title>div{
	display: inline-block;
}
.title>div>div:nth-child(1){
	background: url(../img/miao.png) no-repeat;
	background-size: 100% 100%;
	width: 200px;
	height: 40px;
	vertical-align: bottom;
}
.title>div>div:nth-child(2){
	width: 200px;
	line-height: 30px;
	padding: 0 20px;
	background: #ff0036;
	color: #fff;
}
.title>div>div:nth-child(2) span{
	margin: 0 5px;
}
.title ul{
	margin-bottom: 0;
}
.title ul li img{
	width: 110px;
	vertical-align: bottom;
}
.title ul li{
	display: inline-block;
	margin: 5px;
}
.title ul li a{
	font-size: 16px;
	color: #333;
}
.title ul li a:hover{
	color: #ff0036;
	text-decoration: none;
}

/*轮播图*/
.lunbo{
	position: relative;
	width: 100%;
	height: 502px;
	border-top: 2px solid #ff0036;
	margin-top: -1px;
	background-color: #D6E0E1;
	transition: all .2s linear;
}
.lunbo .list{
	position: relative;
	width: 1250px;
	margin: 0 auto;
}
.lunbo .list ul{
	position: absolute;
	width: 200px;
	height: 500px;
	background: rgba(0,0,0,.7);
	z-index: 100;
}
.lunbo .list li{
	padding: 5px 15px;
	color: #fff;
}
.lunbo .list li a{
	font-size: 14px;
	color: #fff;
}
.lunbo .list li:hover{
	background: #fff;
	color: #ff0036;
}
.lunbo .list li:hover>a{
	color: #ff0036;
}
.lunbo .lbfd{
	position: absolute;
	display: none;
	left: calc(50% + 350px);
	top: 10px;
	z-index: 100;
}
.lunbo .lbfd>div{
	width: 230px;
	height: 230px;
	margin: 10px;
	padding: 10px;
	background: rgba(255,255,255,.6);
}
.lunbo .lbfd>div:hover{
	background: #fff;
}
.lunbo .lbfd div img{
	width: 100%;
}
.swiper-container{
	position: absolute;
	width: 1000px;
	top: 0;
	left: calc(50% - 500px);
	z-index: 1;
}
.content{
	width: 1250px;
	margin: 20px auto;
}
.content .gg{
	margin: 20px 0;
	padding-right: 30px;
}
.content .gg img{
	width: 100%;
}
.con_dh>div{
	display: inline-block;
	position: relative;
	background: #fff;
	margin-right: 10px;
}
.con_dh>div p{
	display: inline-block;
}
.con_dh>div span{
	float: right;
	font-size: 16px;
	cursor: pointer;
}
.con_dh>div img{
	height: 320px;
}
.con_dh>div::after{
	position: absolute;
	content: '';
	width: 100%;
	height: calc(100% - 50px);
	background: rgba(255,255,255,0);
	left: 0;
	bottom: 0;
	transition: all .3s linear;
	cursor: pointer;
}
.con_dh>div:hover::after{
	background: rgba(255,255,255,0.3);
}
.con_dh,.con_logos{
	margin: 10px auto;
}
.con_logos ul{
	font-size: 0;
}
.con_logos ul li{
	position: relative;
	display: inline-block;
	width: 122px;
	line-height: 100px;
	background: #fff;
	border: 1px #efefef solid;
	text-align: center;
}
.con_logos ul li img{
	width: 100px;
}
.con_logos ul li::before{
	content: '优惠券5￥';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	font-size: 14px;
	color: rgba(255,255,255,0);
	cursor: pointer;
	transition: all .3s linear;
}
.con_logos ul li:hover::before{
	background: rgba(0,0,0,.9);
	color: rgba(255,255,255,1);
}
.tmall_con .title{
	float: left;
	width: 280px;
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	font-size: 18px;
	vertical-align: baseline;
}
.tmall_con .nav ul{
	float: right;
	margin-right: 20px;
	margin-bottom: 0;
}
.tmall_con .nav ul li{
	display: inline-block;
	font-size: 16px;
	margin-right: 10px;
}
.tmall_con .nav ul li a{
	color: #000;
	font-weight: 100;
}
.tmall_con .show ul{
	display: inline-block;
	width: 1000px;
	margin-bottom: 0;
}
.tmall_con .show ul li,.cnxh ul li{
	display: inline-block;
	width: 240px;
	height: 300px;
	margin-right: 5px;
	margin-bottom: 10px;
	background: #fff;
	text-align: center;
}
.tmall_con .show ul li img,.cnxh ul li img{
	width: 200px;
}
.tmall_con .show ul li p,.cnxh ul li p{
	font-size: 18px;
	color: #000;
}
.tmall_con .show ul li span,.cnxh ul li span{
	font-size: 20px;
	color: #ff0036;
}
.tmall_con .show ul li:hover,.cnxh ul li:hover{
	border: 1px red solid;
}
.tmall_con .show ul li:hover>img,.cnxh ul li:hover>img{
	opacity: .5;
}
.tmall_con .left{
	position: relative;
	display: inline-block;
	width: 230px;
	height: 610px;
	vertical-align: top;
}
.tmall_con .left:hover>img{
	opacity: .8;
}
.tmall_con .left img{
	width: 100%;
	height: 100%;
	transition: all .2s linear;
}
.tmall_con .left div{
	position: absolute;
	left: 0;
	bottom: 20%;
	width: 200px;
	height: 80px;
	background: rgba(0,0,0,.6);
	font-size: 0
}
.tmall_con .left i{
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/more.png)no-repeat;
	background-size: 100%;
}
.tmall_con .left div span:nth-child(1){
	display: inline-block;
	height: 100%;
	width: 80px;
	line-height: 25px;
	padding: 15px;
	color: #FFF;
	background: rgba(0,0,0,.6);
	font-size: 20px;
	text-align: center;
}
.tmall_con .left div span:nth-child(2){
	display: inline-block;
	height: 100%;
	width: 120px;
	line-height: 25px;
	padding: 15px;
	color: #FFF;
	font-size: 20px;
	text-align: center;
}
.tmall_cs .title{
	background: url(../img/tmcs.png)no-repeat;
	background-size: 100%;
}
.tmall_gj .title{
	background: url(../img/tmgj.png)no-repeat;
	background-size: 100%;
}
.tmall_mlrs .title{
	border-left: 5px #EA5F8D solid;
}
.tmall_cdkw .title{
	border-left: 5px #0AA6E8 solid;
}
.tmall_jjsh .title{
	border-left: 5px #00B262 solid;
}
.tmall_dzac .title{
	border-left: 5px #F15453 solid;
}
.tmall_hwcx .title{
	border-left: 5px #19C8A9 solid;
}
.cnxh .title{
	line-height: 50px;
	margin: 20px auto;
	text-align: center;
	font-size: 18px;
}
.cnxh .title span:nth-child(2){
	color: #ff0036;
}
footer{
	width: 100%;
	background: #fff;
	padding-top: 20px;
	border-top: 2px solid #ccc;
}
footer .top{
	margin: 20px auto 0;
	width: 1100px;
}
footer .top ul{
	border-bottom: 1px solid #efefef;
}
footer .top ul li{
	display: inline-block;
	text-align: center;
	margin-right: 20px;
}
footer .top ul li img{
	width: 250px;
}
footer .top ol{
	display: inline-block;
	width: 210px;
	text-align: center;
	vertical-align: top;
}
footer ol h4{
	font-size: 18px;
}
footer ol h4{
	font-size: 14px;
	font-weight: 700;
}
footer ol a{
	font-size: 12px;
	color: #999;
}
footer .top .miao{
	background: url(../img/miao.png) no-repeat;
	background-size: 100% 100%;
	width: 200px;
	height: 40px;
	vertical-align: bottom;
}
footer .bottom{
	width: 100%;
	background: #000;
	margin-top: -1px;
	border-top: 2px solid #FF0036;
}
footer .bottom li,footer .bottom img{
	display: inline-block;
	margin-right: 5px;
}
footer .bottom>div{
	width: 1200px;
	margin: 20px auto;
	padding: 10px;
	color: #efefef;
}
footer .bottom ul a,footer .bottom ol a{
	font-size: 12px;
	color: #efefef;
}
footer .bottom span,footer .bottom span a{
	font-size: 12px;
	color: #999;
}
footer .bottom span a:hover{
	text-decoration: none;
}
footer .bottom p{
	font-size: 12px;
	color: #666;
}
